<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/tutowelcome/css/welcome.css') }}" type="text/css" media="all" />
        {% endblock %}
        <title>Tutoriel Symfony2 : {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a href="{{ path('tutoWelcomeBundle_homepage') }}" title="Retour à l'accueil">Tutoriel Symfony2</a>
                {% for key, flash in app.session.getFlashes() %}
                  {% if flash %}
                      <p>
                        {{ flash }}
                      </p>
                  {% endif %}
                {% endfor %}
            </header>
            <div id="content">
                <article>{% block content %}{% endblock %}</article>
                <aside>
                    <nav>
                      <h4>Navigation</h4>
                        <ul>
                          <li><a href="{{ path('tutoWelcomeBundle_contact') }}">Contact</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <footer>
            </footer>
        </div>
    </body>
</html>